@import url("main.css");

.load-font{   
font-family: Poppins, sans-serif;
margin-left: 15px;
}     
.card-dev{
background-color: rgb(235, 251, 255);
width: 450px;
height: 450px;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
border-radius: 20px;
padding: 10px;
margin: 20px;

}
.row-dev{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.column-dev{
display: flex;
flex-direction: column;
justify-content: space-around;
}

.circular-image:hover{
    scale: 101%;
}
.img{
    margin: 20px;
    box-sizing: border-box;
    width: 30%;
    border-radius: 20px;
  }
.space{
    margin-top: 50px;
}


.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
    transition: 300ms;
}

.circular-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    
}
.para{
    text-align: center;
}
.description{
    margin: 30px;
    display: flex;
    flex-wrap: wrap-reverse;
}
.description .image-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.description .image-section img {
    width: 90%;
    height: 100%;
    border-radius: 0.5rem;
}
.description .description-section p {
    text-align: justify;
    max-width: 100%;
    margin-top: 3rem;
  }
.card-heading{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    
}