@import url("main.css");

.load-font{   
font-family: Poppins, sans-serif;
margin-left: 15px;
}     
.card-dev{
background-color: rgb(235, 251, 255);
/* display: flex; */
width: 100%;
max-width: 400px;
height: 450px;
font-size: small;
box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.3);
border-radius: 10px;
padding: 8px;
margin: 45px ;

}
.row-dev{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.column-dev{
display: flex;
flex-direction: column;
justify-content: space-around;
overflow: hidden;
}

.circular-image:hover{
    transform: scale(1.01);
}
.img{
    margin: 20px;
    box-sizing: border-box;
    width: 20%;
    border-radius: 20px;
  }
.space{
    margin-top: 50px;
}


.circular-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px auto;
    transition: 300ms;
}

.circular-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    display: block;
    
}
.para{
    text-align: center;
}
.description{
    margin: 30px;
    display: flex;
    flex-wrap: wrap-reverse;
}
.description .image-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.description .image-section img {
    width: 90%;
    height: 100%;
    border-radius: 0.5rem;
}
.description .description-section p {
    text-align: justify;
    max-width: 100%;
    margin-top: 3rem;
  }
.card-heading{
    font-size:large;
    font-weight: bold;
    text-align: center;
    
}
.social{
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: block;
    transition: 300ms;
}
.social:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.social-align{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* Media Queries for Tablet */
@media only screen and (max-width: 1024px) {
    .card-dev {
        width: 80%; /* Adjusted width for tablets */
    }
}

/* Media Queries for Mobile */
@media only screen and (max-width: 767px) {
    .card-dev {
        width: 90%; /* Adjusted width for mobile devices */
        margin: 20px auto; /* Adjusted margin for mobile devices */
    }
}

