@import url("main.css");




header {
 margin-top: 0px;
}
/* hero section styles start */
/* Add  styling here */
.main-heading {
  color: var(--primary-color); /* Adjust the color as needed */
   font-family: "Poppins", sans-serif;
   font-weight: bolder;
   text-align: center;
   position: relative;
   margin-top: 100px;

}

.sub-heading {
  color: var(--text-primary-color); /* Adjust the color as needed */
    font-family: "Poppins", sans-serif;
    font-weight: 600;
   text-align: center;
    font-size: 16px;
    
}
.sub-heading .style_1 {
  font-size: 20px;
  font-weight: 600;

}

.sub-heading .style_2 {
  color: var(--primary-color); /* Adjust the color as needed */
  font-size: 20px;
  font-weight: 600;

}
.sub-heading .style_3 {
  font-size: 12px;
  font-weight: 300;

}




/* hero section styles end */
