<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Assets/CSS/main.css">
    <link rel="stylesheet" href="/Assets/CSS/aboutus.css">
    <!-- Bootstrap CSS - CDN -->
    <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
          crossorigin="anonymous">
    <title>NSBM</title>
</head>
<body>
    <div class="main-wrapper">
    <!-- nav bar start -->
    <header>
        <nav class="navbar navbar-expand-lg fixed-top w-full bg-body-tertiary">
            <div class="container-fluid px-lg-4">
              <a class="navbar-brand" href="#"
                ><img
                  class="img-logo"
                  src="/Assets/Images/Logo.png"
                  alt="GPAC Logo"
              /></a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      href="index.html"
                      >Home</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">FAQ</a>
                  </li>
                </ul>
                <a href="#">
                  <button class="btn btn-secondary" type="button">Sign Up</button>
                </a>
                <a class="mx-1" href="#">
                  <button class="btn btn-outline-primary" type="button">
                    Sign In
                  </button>
                </a>
              </div>
            </div>
          </nav>
    </header>
    <!-- nav bar end -->
    <!-- hero section start -->
    <div class="main-wrapper">
      <!-- Your code Start here -->

      <main class="load-font">
       
        <font color = "white"><p><h3><b>Group no: </b>AE</h3></p>
        <p><h3>No of members: 8</h3></p>
        <p><h3>Purpose: For Python Programming and Group Project Challenge - UGC 22.2</h3></p>
        <p><h3>This site developed by the Faculty of computing nsbm green University in collaboration with group students.</h3></p><br></font>
        <div>
            <div class="row-dev">
                <!---->
                <div class="card-dev">
                  <div class="column-dev">
                         
                      <div>
                            <h3><p><b>R.A.K.R Ranasinghe</b></p></h3>
                            <ul>
                                <li>
                                    <p><strong>Backend Developer</strong></p>
                                </li>
                                <li>
                                    <p>Develops the Flask-based backend,handling GPA calculations, job information integration, and user authentication.</p>
                                </li>
                                <li>
                                    <p>Collaborates with the database administrator for efficient data management.</p>
                                </li>
                            </ul>  
                        </div>
                    </div>
                </div>
                <!---->
                <!---->
                <div class="card-dev">
                    <div class="column-dev">
                         
                        <div>
                            <h3><p><b>T.P.G.P Nanayakkara</b></p></h3>
                            <ul>
                                <li>
                                  <p><strong>Backend Developer</strong></p>
                                </li>
                                <li>
                                  <p>Develops the Flask-based backend,handling GPA calculations, job information integration, and user authentication.</p>
                              </li>
                              <li>
                                  <p>Collaborates with the database administrator for efficient data management.</p>
                              </li>
                            </ul>  
                        </div>
                    </div>
                </div>
                <!---->
                <!---->
                <div class="card-dev">
                    <div class="column-dev">
                        
                        <div>
                            <h3><p><b>B.G.D.M Beligala</b></p></h3>
                            <ul>
                                <li>
                                  <p><strong>Backend Developer</strong></p>
                                </li>
                                <li>
                                  <p>Develops the Flask-based backend,handling GPA calculations, job information integration, and user authentication.</p>
                              </li>
                              <li>
                                  <p>Collaborates with the database administrator for efficient data management.</p>
                              </li>
                            </ul>  
                        </div>
                    </div>
                </div>
                <!---->
            </div>
            <!--Row-->
            <div class="row-dev">
                <!---->
                <div class="card-dev">
                    <div class="column-dev">
                         
                        <div>
                            <h3><p><b>W.M.V.R Wijethunga</b></p></h3>
                            <ul>
                                <li>
                                  <p><strong>Frontend Developer</strong></p>
                                </li>
                                <li>
                                    <p>Designs and implements the responsive and intuitive user interface using HTML,CSS and JavaScript.</p>
                                </li>
                                <li>
                                  <p>integrates interactive elements such as GPA input forms, job search filters and Q&A interfaces</p>
                              </li>
                            </ul>  
                        </div>
                    </div>
                </div>
                <!---->
                <!---->
                <div class="card-dev">
                    <div class="column-dev">
                        
                        <div>
                            <h3><p><b>W.H.M.N Jayawardana</b></p></h3>
                            <ul>
                                <li>
                                  <p><strong>Frontend Developer</strong></p>
                                </li>
                                <li>
                                  <p>Designs and implements the responsive and intuitive user interface using HTML,CSS and JavaScript.</p>
                              </li>
                              <li>
                                <p>integrates interactive elements such as GPA input forms, job search filters and Q&A interfaces</p>
                            </li>
                            </ul>  
                        </div>
                    </div>
                </div>
                <!---->
                <!---->
                <div class="card-dev">
                    <div class="column-dev">
                         
                        <div>
                            <h3><p><b>A.M.J.M Adikari</b></p></h3>
                            <ul>
                                <li>
                                  <p><strong>Database Administrator</strong></p>
                                </li>
                                <li>
                                    <p>Designs and maintains the relational database for storing user profiles, GPA data, and job information.</p>
                                </li>
                                <li>
                                    <p>Collaborates with backend developers to optimize database queries for efficient data retrieval.</p>
                                </li>
                            </ul>  
                        </div>
                    </div>
                </div>
                <!---->
            </div>
            <!--Row-->
            <div class="row-dev">
                <!---->
                <div class="card-dev">
                    <div class="column-dev">
                        
                        <div>
                            <h3><p><b>W.M.A.J Weerabahu</b></p></h3>
                            <ul>
                                <li>
                                    <p><strong>Q&A and Community Features Developer</strong></p>
                                </li>
                                <li>
                                    <p>Implements the Q&A module, facilitating user interactions and mentorship.</p>
                                </li>
                                <li>
                                  <p>Collaborates with the frontend developer for a cohesive user interface.</p>
                              </li>
                            </ul>  
                        </div>
                    </div>
                </div>
                <!---->
                <!---->
                <div class="card-dev">
                    <div class="column-dev">
                         
                        <div>
                            <h3><p><b>K.D.R Laksika</b></p></h3>
                            <ul>
                              <li>
                                  <p><strong>Q&A and Community Features Developer</strong></p>
                              </li>
                              <li>
                                  <p>Implements the Q&A module, facilitating user interactions and mentorship.</p>
                              </li>
                              <li>
                                <p>Collaborates with the frontend developer for a cohesive user interface.</p>
                            </li>
                            </ul>  
                        </div>
                    </div>
                </div>
                 <!---->
            </div>
            <!--Row-->
            <div class="row-dev">
                <!---->
                
        </div>
      
          <p><center><font color = "white" size = 7 >We are from NSBM Green University</font></center></p><br>
          <center><img src = "images/R3.jpg" width="500"></center><br>
          <p align = "justify"><font color = "white">NSBM Green University is the first ever green university in South Asia and sets an example for the whole South Asia by paving the way for environmental sustainability. The university is open for both national and international student community and it has turned a new chapter in Sri Lankan higher education.
              NSBM Green University is established under the Ministry of Education and it is renowned for its world-class academic offerings. This state-of-the-art university offers nationally and internationally recognized, UGC-approved degree programmes and foreign degree programmes in four faculties: Business, Computing, Engineering, Science, and Postgraduate Studies.
              
              The university is spread over an area of 26 acres and the massive university complex was built with the intention of providing an opportunity for both national and international students to have a fully-fledged education in Sri Lanka. Currently, more than 12,000 students are studying at the university and the highly qualified local and foreign lecturers who teach at the university are committed to preparing these undergraduates to face any challenge the world has to offer. The university’s commitment to excellence in education extends beyond course delivery since the university has created mutually beneficial relationships with the industry to provide students with opportunities to get exposure to the real- world workplaces.
              
              Inspired by the vision of making Sri Lanka the best educational hub in Asia,
              NSBM Green University is dedicated to gifting future leaders to the world with its fully-fledged university</font></p>
  
              <a href="https://www.facebook.com/nsbm.lk/photos/"><button class="my-button">Explore More</button></a>
    </main>
      


      <!-- Your code Start here -->
    </div>
    <!-- hero section end -->
    <!-- footer start -->
    <footer id="bottom" class="w-100">
        <div class="footer">
        <div class="footer-section flex-grow-1 mb-3">
            <a class="brand-text" href="index.html"
            ><img
                class="img-logo"
                src="/Assets/Images/Logo_light.png"
                alt="GPAC Logo"
            /></a>
        </div>
        <div class="footer-section flex-grow-1">
            <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
            </ul>
        </div>
      <div class="site-info">
        <span
          >Designed and developed by Software Engineering Undergraduates</span
        >
        <span
          ><a rel="noopener" href="https://nsbm.ac.lk" target="_blank"
            >NSBM Green University</a
          ></span
        >
      </div>
    <hr class="w-100 divider" height="2" />
    <div class="footer-end">
      <span>Copyright &copy; 2023 | All rights reserved.</span>
  
      <span>Cookies</span>
    </div>
  </footer>
  <!-- footer end -->
</div>
    <!-- Bootstrap JS - CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous">
    </script>
</body>
</html>