<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/aboutus.css') }}">
    <!-- Bootstrap CSS - CDN -->
    <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
          crossorigin="anonymous">
    <title>NSBM</title>
</head>
<body>
<div class="main-wrapper">
    <!-- nav bar start -->
    <header>
      {% include 'nav.html' %} 
    </header>
    <!-- nav bar end -->
    <!-- hero section start -->
    {% block content %}
      <!-- Your code Start here -->

    <main class="load-font">


        <Section id="packages" class="pt-5">

            <div class="container">
                <div class="row">
                    <div class="col-lg">
                        <div class="card-dev">
                            <div class="circular-image">
                                <img src="https://media.licdn.com/dms/image/D5603AQEq0TBemNMj9Q/profile-displayphoto-shrink_200_200/0/1694000301701?e=1710374400&v=beta&t=E0OTs-t49e67F0E7EQsumdzp4fdVALucnLR9VWR99eo" alt="image">
                            </div>
                          <div class="column-dev">
                                 
                              <div>
                                    <p class="card-heading">R.A.K.R Ranasinghe</p>
                                    <ul>
                                        <li>
                                            <p><strong>Backend Developer</strong></p>
                                        </li>
                                        <li>
                                            <p>Develops the Flask-based backend,handling GPA calculations, job information integration, and user authentication.</p>
                                        </li>
                                        <li>
                                            <p>Collaborates with the database administrator for efficient data management.</p>
                                        </li>
                                    </ul>  
                                </div>
                                <div class="social-align">
                                        <a href="https://www.linkedin.com/in/ravindu-ranasinghe-078a23254/" target="_blank"><img src="{{url_for('static', filename='Images/linkedin.png')}}" alt="linkedin" class="social"></a>
                                        <a href="https://github.com/KumudithaRanasinghe/" target="_blank"><img src="{{url_for('static', filename='Images/github.png')}}" alt="github" class="social"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="card-dev">
                    <div class="circular-image">
                        <img src="https://media.licdn.com/dms/image/D5603AQETsvgTJdV_4w/profile-displayphoto-shrink_100_100/0/1701582457155?e=1710374400&v=beta&t=p1Ep-Z_wh8EVZLR1BPzUJ2047G0C1XjgybECpDkLb1Q" alt="image">
                    </div>
                    <div class="column-dev">
                         
                        <div>
                            <p class="card-heading">T.P.G.P Nanayakkara</p>
                            <ul>
                                <li>
                                  <p><strong>Backend Developer</strong></p>
                                </li>
                                <li>
                                  <p>Develops the Flask-based backend,handling GPA calculations, job information integration, and user authentication.</p>
                              </li>
                              <li>
                                  <p>Collaborates with the database administrator for efficient data management.</p>
                              </li>
                            </ul>  
                        </div>
                        <div class="social-align">
                            <a href="https://www.linkedin.com/in/pasindu-nanayakkara-94867424b/" target="_blank"><img src="{{url_for('static', filename='Images/linkedin.png')}}" alt="linkedin" class="social"></a>
                            <a href="https://github.com/pasindunana2002" target="_blank"><img src="{{url_for('static', filename='Images/github.png')}}" alt="github" class="social"></a>
                    </div>
                    </div>
                </div>
                    </div>
                    <div class="col-lg">
                        <div class="card-dev">
                            <div class="circular-image">
                                <img src="https://media.licdn.com/dms/image/D5603AQHF8YhuaywLcg/profile-displayphoto-shrink_200_200/0/1701538334391?e=1710374400&v=beta&t=okWGhOxXvIv-hYrnJ2IgGDP2GV6Z-b-KeSGSYL_lKyc" alt="image">
                            </div>
                            <div class="column-dev">
                                
                                <div>
                                    <p class="card-heading">B.G.D.M Beligala</p>
                                    <ul>
                                        <li>
                                          <p><strong>Backend Developer</strong></p>
                                        </li>
                                        <li>
                                          <p>Develops the Flask-based backend,handling GPA calculations, job information integration, and user authentication.</p>
                                      </li>
                                      <li>
                                          <p>Collaborates with the database administrator for efficient data management.</p>
                                      </li>
                                    </ul>  
                                </div>
                                <div class="social-align">
                                    <a href="https://www.linkedin.com/in/dushan-madushanka-360252196/" target="_blank"><img src="{{url_for('static', filename='Images/linkedin.png')}}" alt="linkedin" class="social"></a>
                                    <a href="https://github.com/dushan6693" target="_blank"><img src="{{url_for('static', filename='Images/github.png')}}" alt="github" class="social"></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="card-dev">
                            <div class="circular-image">
                                <img src="https://media.licdn.com/dms/image/D5603AQGEe9FNiaULAQ/profile-displayphoto-shrink_400_400/0/1706684371472?e=1712188800&v=beta&t=jdjjfxBjgRfKRfN6XnkzWuh_c_cJm6k338OKUl8eKhU" alt="image">
                            </div>
                            <div class="column-dev">
                                 
                                <div>
                                    <p class="card-heading">W.M.V.R Wijethunga</p>
                                    <ul>
                                        <li>
                                          <p><strong>Frontend Developer</strong></p>
                                        </li>
                                        <li>
                                            <p>Designs and implements the responsive and intuitive user interface using HTML,CSS and JavaScript.</p>
                                        </li>
                                        <li>
                                          <p>integrates interactive elements such as GPA input forms, job search filters and Q&A interfaces</p>
                                      </li>
                                    </ul>  
                                </div>
                                <div class="social-align">
                                    <a href="https://www.linkedin.com/in/vishmini-ridmika-80705227b/" target="_blank"><img src="{{url_for('static', filename='Images/linkedin.png')}}" alt="linkedin" class="social"></a>
                                    <a href="https://github.com/RidmiWijethunga" target="_blank"><img src="{{url_for('static', filename='Images/github.png')}}" alt="github" class="social"></a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg">
                        <div class="card-dev">
                            <div class="circular-image">
                                <img src="https://media.licdn.com/dms/image/C4E03AQEdgoF699b67Q/profile-displayphoto-shrink_200_200/0/1659766894463?e=1710374400&v=beta&t=doySJ2TNjuHVqhXBeohPSvYVnNZY68gWlFQ6fXgwCGE" alt="image">
                            </div>
                            <div class="column-dev">
                                
                                <div>
                                    <p class="card-heading">W.H.M.N Jayawardana</p>
                                    <ul>
                                        <li>
                                          <p><strong>Frontend Developer</strong></p>
                                        </li>
                                        <li>
                                          <p>Designs and implements the responsive and intuitive user interface using HTML,CSS and JavaScript.</p>
                                      </li>
                                      <li>
                                        <p>integrates interactive elements such as GPA input forms, job search filters and Q&A interfaces</p>
                                    </li>
                                    </ul>  
                                </div>
                                <div class="social-align">
                                    <a href="https://www.linkedin.com/in/nipun-jayawardhana-4b8997247/" target="_blank"><img src="{{url_for('static', filename='Images/linkedin.png')}}" alt="linkedin" class="social"></a>
                                    <a href="https://github.com/nipun-jayawardhana" target="_blank"><img src="{{url_for('static', filename='Images/github.png')}}" alt="github" class="social"></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="card-dev">
                            <div class="circular-image">
                                <img src="https://media.licdn.com/dms/image/D5603AQHWVOz8MFOBpg/profile-displayphoto-shrink_800_800/0/1705499343398?e=1711584000&v=beta&t=xpgqfnSLEkqaoREZnXtWdFWnZ-u5icYtjb-FWyN5j70" alt="image">
                            </div>
                            <div class="column-dev">
                                 
                                <div>
                                    <p class="card-heading">A.M.J.M Adikari</p>
                                    <ul>
                                        <li>
                                          <p><strong>Database Administrator</strong></p>
                                        </li>
                                        <li>
                                            <p>Designs and maintains the relational database for storing user profiles, GPA data, and job information.</p>
                                        </li>
                                        <li>
                                            <p>Collaborates with backend developers to optimize database queries for efficient data retrieval.</p>
                                        </li>
                                    </ul>  
                                </div>
                                <div class="social-align">
                                    <a href="https://www.linkedin.com/in/jayani-adikari-a9aa31291/" target="_blank"><img src="{{url_for('static', filename='Images/linkedin.png')}}" alt="linkedin" class="social"></a>
                                    <a href="https://github.com/JMAdikari" target="_blank"><img src="{{url_for('static', filename='Images/github.png')}}" alt="github" class="social"></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="card-dev">
                            <div class="circular-image">
                                <img src="https://media.licdn.com/dms/image/D5603AQEPJmqQBtG7SQ/profile-displayphoto-shrink_800_800/0/1706607207579?e=1712188800&v=beta&t=EYI3q7_idtimvzopTT_LT8rDGzVWFwmOeVDZqaTOj-8" alt="image">
                            </div>
                            <div class="column-dev">
                                
                                <div>
                                    <p class="card-heading">W.M.A.J Weerabahu</p>
                                    <ul>
                                        <li>
                                            <p><strong>Q&A and Community Features Developer</strong></p>
                                        </li>
                                        <li>
                                            <p>Implements the Q&A module, facilitating user interactions and mentorship.</p>
                                        </li>
                                        <li>
                                          <p>Collaborates with the frontend developer for a cohesive user interface.</p>
                                      </li>
                                    </ul>  
                                </div>
                                <div class="social-align">
                                    <a href="https://www.linkedin.com/in/ayodhya-j-weerabahu/" target="_blank"><img src="{{url_for('static', filename='Images/linkedin.png')}}" alt="linkedin" class="social"></a>
                                    <a href="https://github.com/lwxDbrhkgd" target="_blank"><img src="{{url_for('static', filename='Images/github.png')}}" alt="github" class="social"></a>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="card-dev">
                            <div class="circular-image">
                                <img src="https://media.licdn.com/dms/image/D4E03AQHnstPYJ7XBmw/profile-displayphoto-shrink_200_200/0/1667008084904?e=1710374400&v=beta&t=3o4u9wJFBoa3wy2dK0hLd_Y9XFq5RZCx9fHl4qvocRg" alt="image">
                            </div>
                            <div class="column-dev">
                                 
                                <div>
                                    <p class="card-heading">K.D.R Laksika</p>
                                    <ul>
                                      <li>
                                          <p><strong>Q&A and Community Features Developer</strong></p>
                                      </li>
                                      <li>
                                          <p>Implements the Q&A module, facilitating user interactions and mentorship.</p>
                                      </li>
                                      <li>
                                        <p>Collaborates with the frontend developer for a cohesive user interface.</p>
                                    </li>
                                    </ul>  
                                </div>
                                <div class="social-align">
                                    <a href="https://www.linkedin.com/in/rasil-laksika-kottagoda-749516255/" target="_blank"><img src="{{url_for('static', filename='Images/linkedin.png')}}" alt="linkedin" class="social"></a>
                                    <a href="https://github.com/KDRLaksika" target="_blank"><img src="{{url_for('static', filename='Images/github.png')}}" alt="github" class="social"></a>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
           
        </Section>

            <div class="description">
                <div class="image-section col-sm-12 col-lg-12 col-xl-6 pb-4 pb-xl-0">
                    <img src = "{{url_for('static', filename='Images/R3.jpg')}}" class="img" alt="nsbm green university">
                </div>
                <div class="description-section col-sm-12 col-lg-12 col-xl-6">
                    <h3>We are from NSBM Green University</h3>
                    <p class="para"><strong>NSBM Green University</strong> is the first ever green university in South Asia and sets an example for the whole South Asia by paving the way for environmental sustainability. The university is open for both national and international student community and it has turned a new chapter in Sri Lankan higher education.</p>
                    <p class="para">NSBM Green University is established under the Ministry of Education and it is renowned for its world-class academic offerings. This state-of-the-art university offers nationally and internationally recognized, UGC-approved degree programmes and foreign degree programmes in four faculties: Business, Computing, Engineering, Science, and Postgraduate Studies.</p>
                </div>
            </div>

          
        </div>
  
    </main>
      


      <!-- Your code Start here -->
    
    <!-- hero section end -->
    {% endblock %}
    <!-- footer start -->
    {% include 'footer.html' %}
  <!-- footer end -->
</div>
    <!-- Bootstrap JS - CDN -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous">
    </script>
</body>
</html>