<head>
    <link rel="stylesheet" href="style.css">
    </head>
    <body>
    
    
    
    
    <div class="rectangle">
        <h1 class="f1"><link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,800&display=swap" rel="stylesheet">
           <pre> frequently Asked Questions</pre></h1>
     
         <h2 class="f2"><link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">
            <pre>Questions you might ask about Our service</pre></h2>  
    
    
    
    
    
        <div class="rec2">
        <h3 class="f3"><link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
            How does GPA Connect work?</h3>
    
            <span class="chevron"></span>
    
            <p class="f4"><link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap" rel="stylesheet">
                GPA Connect is a platform that helps you explore job opportunities based on your academic achievements. Simply enter your GPA, and our system will match you with relevant job listings that align with your qualifications.
            </p>
    
    
    
            <!-- rectangle   3 -->


            <div class="rec3">
            
            <h3 class="f5"><link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
                How does GPA Connect work?</h3>
             
                <span class="chev1"></span>
            </div>  
            
            <div class="rec3">
            
                <h3 class="f5"><link rel="preconnect" href="https://fonts.googleapis.com">
                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
                    How does GPA Connect work?</h3>
                 
                    <span class="chev1"></span>
                </div> 
             
                <div class="rec3">
            
                    <h3 class="f5"><link rel="preconnect" href="https://fonts.googleapis.com">
                        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
                        How does GPA Connect work?</h3>
                     
                        <span class="chev1"></span>
                    </div>   

                    <div class="rec3">
            
                        <h3 class="f5"><link rel="preconnect" href="https://fonts.googleapis.com">
                            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
                            How does GPA Connect work?</h3>
                         
                            <span class="chev1"></span>
                        </div>  
                        
                        <div class="rec3">
            
                            <h3 class="f5"><link rel="preconnect" href="https://fonts.googleapis.com">
                                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                                <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
                                How does GPA Connect work?</h3>
                             
                                <span class="chev1"></span>
                            </div>  

                            <div class="rec3">
            
                                <h3 class="f5"><link rel="preconnect" href="https://fonts.googleapis.com">
                                    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                                    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,400&display=swap" rel="stylesheet">
                                    How does GPA Connect work?</h3>
                                 
                                    <span class="chev1"></span>
                                </div>  
   
             
             <img class="image" src="image/Animation_tall.png" alt="image">
                                        