
    <footer id="bottom" class="w-100">
        <div class="footer">
        <div class="footer-section flex-grow-1 mb-3">
            <a class="brand-text" href="index.html"
            ><img
                class="img-logo"
                src="/Assets/Images/Logo.png"
                alt="GPAC Logo"
            /></a>
        </div>
        <div class="footer-section flex-grow-1">
            <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
            </ul>
        </div>
      <div class="site-info">
        <span
          >Designed and developed by Software Engineering Undergraduates</span
        >
        <span
          ><a rel="noopener" href="https://nsbm.ac.lk" target="_blank"
            >NSBM Green University</a
          ></span
        >
      </div>
    <hr class="w-100 divider" height="2" />
    <div class="footer-end">
      <span>Copyright &copy; 2023 | All rights reserved.</span>
  
      <span>Cookies</span>
    </div>
  </footer>

  