    <nav class="navbar navbar-expand-lg fixed-top w-full bg-body-tertiary">
        <div class="container-fluid px-lg-4">
          <a class="navbar-brand" href="#"
            ><img
              class="img-logo"
              src="{{url_for('static', filename='Images/Logo.png')}}"
              alt="GPAC Logo"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  href="{{url_for('index')}}"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('aboutus')}}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('faq')}}">FAQ</a>
              </li>
            </ul>

            {% if 'username' in session %}
              <p>Welcome, {{ session['username'] }}! <a class="mx-1" href="/signout">
                <button class="btn btn-outline-primary" type="button">
                Sign Out
                </button>
              </a></p>
            {% else %}
              <a href="/signup">
                <button class="btn btn-secondary" type="button">Sign Up</button>
              </a>
              <a class="mx-1" href="/signin">
                <button class="btn btn-outline-primary" type="button">
                Sign In
                </button>
              </a>
            {% endif %}




            
          </div>
        </div>
      </nav>
