<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/cal_gpa.css') }}">
    <!-- Bootstrap CSS - CDN -->
    <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
          crossorigin="anonymous">
    <title>NSBM</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function setCredit(moduleId){ //get credits for user selected module

            var creditId = moduleId.replace('m', 'c');
            var selectedValue = $('#'+moduleId+' option:selected').val();
                 $.ajax({
                    url: "/credit",
                    method: "POST",
                    data: {m_id: selectedValue},
                    success: function(data) {
                        $('#'+creditId).val(data);
                    }
                });

        }

 
    function semesterGpa(id,event) { // calculate GPA by semester

        event.preventDefault();//stop form submit

        var tableId = id.substring(6, 12);

        var container = document.getElementById(tableId);

        var dropdowns = container.getElementsByTagName("select");
        var credits = container.querySelectorAll("input[type='text']");

        var selectedValues = [];
        var creditValues = [];

        breakFlag=false;

        for (var i = 0; i < dropdowns.length; i++) {

            var selectedOption = dropdowns[i].options[dropdowns[i].selectedIndex];

            if (selectedOption.value>0) {
                selectedValues.push(selectedOption.value);

            }else{
                selectedValues = [];
                breakFlag=true;
                break;

            }
        }

        for (var i = 0; i < credits.length; i++) {

            var creditOption = credits[i].value;

            if (selectedOption) {
                creditValues.push(creditOption);
            }
        }

        if(!breakFlag){

            $.ajax({
                    url: "/setGpa",
                    method: "POST",
                    data: {selection: JSON.stringify(selectedValues), credit: JSON.stringify(creditValues)},
                    success: function(data) {
                        $('#'+tableId+'sem_gpa').html(data);
                        console.log("gpa: "+data);
                    }
            });
        }else{
            alert("Please select all the options in dropdown list");
        }
    }

    function finalGpa(event) {// calculate all semesters gpa

        event.preventDefault();

        var container = document.getElementById("gridContainer");

        var dropdowns = container.getElementsByTagName("select");
        var credits = container.querySelectorAll("input[type='text']");

        var selectedValues = [];
        var creditValues = [];

        breakFlag=false;

        for (var i = 0; i < dropdowns.length; i++) {

        var selectedOption = dropdowns[i].options[dropdowns[i].selectedIndex];

        if (selectedOption.value>0) {
            selectedValues.push(selectedOption.value);

        }else{
                selectedValues = [];
                breakFlag=true;
                break;
            }
        }

        for (var i = 0; i < credits.length; i++) {

        var creditOption = credits[i].value;

        if (selectedOption) {
            creditValues.push(creditOption);
        }
        }

        if(!breakFlag){

            $.ajax({
                    url: "/setGpa",
                    method: "POST",
                    data: {selection: JSON.stringify(selectedValues), credit: JSON.stringify(creditValues)},
                    success: function(data) {
                        $('#finalGpa').html(data);
                        console.log("finalgpa: "+data);       
                    }
            });

        }else{
            alert("Please select all the options on page");
        }

    }


function getSemesterLength(tableId) {// all the number of the selections have on that given id semester section
    
    var parentElement = document.getElementById(tableId);
    parentElement = parentElement.querySelector('#b'+tableId);

        var selectElements = parentElement.children;
       
 return selectElements.length;
}

function checkItemAvailability(itemId) { //check rows availability. prevent from rows delete from semester center and manage changing increment

    var item = document.getElementById(itemId);

    if (item) {
        return true;
    } else {
        return false;
    }
}

</script>
</head>
<body>
    <div class="main-wrapper">
    <!-- nav bar start -->
    <header>
      {% include 'nav.html' %}
    </header>
    <!-- nav bar end -->
    <!-- hero section start -->
    
      <!-- Your code Start here -->
      {% block content %}

        <!--  table start-->
        <section>
        <form action="/unknown" method="post">     
        <div class="grid" id="gridContainer">
            <div class="g-col-6">

                   
                <p name="degree" class="job_explore_btn"><span class="txt">Selected Digree Program :</span> {{ degree[0][0] }}</p>

            
                <div class="table-container" >
                    <table class="table" id="table1" >
                        <thead>
                        <span class="sem_no" id="sem_no" >Semester 1 </span>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Course</th>
                                <th scope="col">Grade</th>
                                <th scope="col">Credit</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="btable1">
                            <tr>
                                <th scope="row">1</th>

                                <!--Raw start  -->
                                <td>
                                    <select id="table1m1" name="module" onchange="setCredit(this.id)">
                                        <option value="-1">Select Module</option>
                                        {% for module in modules %}
                                        <option value="{{ module[0] }}">{{ module[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            
                                
                            </td> 
                            <td> <span class="selected-course">Grade</span>
                                <select id="table1g1" name="grade">
                                    {% for grade in grades %}
                                    <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                    {% endfor %}
                                </select>
                                </td>
                                <td>
                                <input type="text" id="table1c1" name="credit" 
                                placeholder="Credit" required>
                                </td>

                                <td>
                                <button class="delete_course_btn" onclick="deleteRow(this)">  
                                    <img src="{{url_for('static', filename='Images/delete.png')}}" alt="plus" class="plus">
                                </button>
                                </td>

                                <!-- raw end -->
                            </tr>
                            <tr>
                                <th scope="row">2</th>

                                <!--Raw start  -->
                                <td>
                                    <select id="table1m2" name="module" onchange="setCredit(this.id)">
                                        <option value="-1">Select Module</option>
                                        {% for module in modules %}
                                        <option value="{{ module[0] }}">{{ module[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            
                                
                            </td> 
                            <td> <span class="selected-course">Grade</span>
                                <select id="table1g2" name="grade">
                                    {% for grade in grades %}
                                    <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                    {% endfor %}
                                </select>
                                </td>
                                <td>
                                <input type="text" id="table1c2" name="credit" 
                                placeholder="Credit" required>
                                </td>

                                <td>
                                <button class="delete_course_btn" onclick="deleteRow(this)">  
                                    <img src="{{url_for('static', filename='Images/delete.png')}}" alt="plus" class="plus">
                                </button>
                                </td>

                                <!-- raw end -->
                            </tr>
                            <tr>
                                <th scope="row">3</th>

                                <!--Raw start  -->
                                <td>
                                    <select id="table1m3" name="module" onchange="setCredit(this.id)">
                                        <option value="-1">Select Module</option>
                                        {% for module in modules %}
                                        <option value="{{ module[0] }}">{{ module[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            
                                
                            </td> 
                            <td> <span class="selected-course">Grade</span>
                                <select id="table1g3" name="grade">
                                    {% for grade in grades %}
                                    <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                    {% endfor %}
                                </select>
                                </td>
                                <td>
                                <input type="text" id="table1c3" name="credit" 
                                placeholder="Credit" required>
                                </td>

                                <td>
                                <button class="delete_course_btn" onclick="deleteRow(this)">  
                                    <img src="{{url_for('static', filename='Images/delete.png')}}" alt="plus" class="plus">
                                </button>
                                </td>

                                <!-- raw end -->
                            </tr>
                            <tr>
                                <th scope="row">4</th>

                                <!--Raw start  -->
                                <td>
                                    <select id="table1m4" name="module" onchange="setCredit(this.id)">
                                        <option value="-1">Select Module</option>
                                        {% for module in modules %}
                                        <option value="{{ module[0] }}">{{ module[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            
                                
                            </td> 
                            <td> <span class="selected-course">Grade</span>
                                <select id="table1g4" name="grade">
                                    {% for grade in grades %}
                                    <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                    {% endfor %}
                                </select>
                                </td>
                                <td>
                                <input type="text" id="table1c4" name="credit" 
                                placeholder="Credit" required>
                                </td>

                                <td>
                                <button class="delete_course_btn" onclick="deleteRow(this)">  
                                    <img src="{{url_for('static', filename='Images/delete.png')}}" alt="plus" class="plus">
                                </button>
                                </td>

                                <!-- raw end -->
                            </tr>
                            <tr>
                                <th scope="row">5</th>

                                <!--Raw start  -->
                                <td>
                                    <select id="table1m5" name="module" onchange="setCredit(this.id)">
                                        <option value="-1">Select Module</option>
                                        {% for module in modules %}
                                        <option value="{{ module[0] }}">{{ module[1] }}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            
                                
                            </td> 
                            <td> <span class="selected-course">Grade</span>
                                <select id="table1g5" name="grade">
                                    {% for grade in grades %}
                                    <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                    {% endfor %}
                                </select>
                                </td>
                                <td>
                                <input type="text" id="table1c5" name="credit" 
                                placeholder="Credit" required>
                                </td>

                                <td>
                                <button class="delete_course_btn" onclick="deleteRow(this)">  
                                    <img src="{{url_for('static', filename='Images/delete.png')}}" alt="plus" class="plus">
                                </button>
                                </td>

                                <!-- raw end -->
                            </tr>
                            
                        </tbody>
                        
                    </table>
                    <div class="add_course">
                    <button class="add_course_btn" onclick="addRow1()">  
                        <img src="{{url_for('static', filename='Images/add_icon.png')}}" alt="plus" class="plus">

                        
                        Add Course
                    </button>
                    </div>
                    <div class="sem_cal">

                        <button id="btnCaltable1" class="sem_cal_btn" onclick="semesterGpa(this.id,event)">
                            Semester GPA <span id="table1sem_gpa" class="sem_gpa">0.0</span>
                        </button>
                    </div>

                </div>
            </div>

            

        </div>
        </form>
        <div class="cal_circle">
            <div class="circle_inner">
                <div class="inner_circle_img">
                    <img src="{{url_for('static', filename='Images/circle_inner.png')}}" alt="cal_icon" class="cal_icon">
                    <div class="text-overlay">
                        <h3>Cumulative GPA</h3>
                        <span class="content">
                            <button id="btnFinalGpa" class="btnFinalGpa" onclick="finalGpa(event)">
                                <p id="finalGpa">00.00</p>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
          
           
          </div>
          
          
          <p class="paragraph">
            Discover Jobs Aligned with Your GPA<br>
            Start Your Career Journey Now!
          </p>
          <div class="job_explore">
            
            <button class="job_explore_btn">  
              
             <span class="txt">Explore Jobs</span> 
          </button>
          
          </div>
        </section>
        <!-- add sememster button -->
        <div class="add_sem">
        <button class="add_sem_btn" onclick="addSemester()">  
            <img src="{{url_for('static', filename='Images/post.png')}}" alt="plus" class="plus">
            Add Semester
        </button>
        </div>

{% endblock %}
<!-- hero section end -->
    <!-- footer start -->
    {% include 'footer.html' %}
        
  <!-- footer end -->
</div>
<script src="../static/js/main.js"></script>
<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
      integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
      crossorigin="anonymous">
</script>

<script>
    function addSemester() {
        // Get the grid container element
        var gridContainer = document.getElementById("gridContainer");

        // Create a unique table ID
        var tableId = "table" + (gridContainer.children.length + 1);

        // Create a new semester div with its content
        var newSemesterDiv = document.createElement("div");
        newSemesterDiv.classList.add("g-col-6");

        newSemesterDiv.innerHTML = `
            <div class="table-container" id="tableContainer">
                <table class="table" id="${tableId}">
                    <span class="sem_no" id="sem_no" >Semester ${gridContainer.children.length + 1} </span>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Course</th>
                            <th scope="col">Grade</th>
                            <th scope="col">Credit</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody id="b${tableId}">
                        <tr>
                            <th scope="row">1</th>
                            <td><select id="${tableId}m1" name="module" onchange="setCredit(this.id)">
                                    <option value="-1">Select Module</option>
                                        {% for module in modules %}
                                        <option value="{{ module[0] }}">{{ module[1] }}</option>
                                        {% endfor %}
                                    </select></td>
                            <td>
                                <span class="selected-course">Grade</span>
                                <select id="${tableId}g1" name="grade">
                                    {% for grade in grades %}
                                    <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="text" id="${tableId}c1" name="credit" placeholder="Credit" required>
                            </td>
                            <td>
                                <button class="delete_course_btn" onclick="deleteRow(this)">
                                    <img src="{{url_for('static', filename='Images/delete.png')}}" alt="plus" class="plus">
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td><select id="${tableId}m2" name="module" onchange="setCredit(this.id)">
                                <option value="-1">Select Module</option>
                                        {% for module in modules %}
                                        <option value="{{ module[0] }}">{{ module[1] }}</option>
                                        {% endfor %}
                                    </select></td>
                            <td>
                                <span class="selected-course">Grade</span>
                                <select id="${tableId}g2" name="grade">
                                    {% for grade in grades %}
                                    <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="text" id="${tableId}c2" name="credit" placeholder="Credit" required>
                            </td>
                            <td>
                                <button class="delete_course_btn" onclick="deleteRow(this)">
                                    <img src="{{url_for('static', filename='Images/delete.png')}}" alt="plus" class="plus">
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td><select id="${tableId}m3" name="module" onchange="setCredit(this.id)">
                                <option value="-1">Select Module</option>
                                        {% for module in modules %}
                                        <option value="{{ module[0] }}">{{ module[1] }}</option>
                                        {% endfor %}
                                    </select></td>
                            <td>
                                <span class="selected-course">Grade</span>
                                <select id="${tableId}g3" name="grade">
                                    {% for grade in grades %}
                                    <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="text" id="${tableId}c3" name="credit" placeholder="Credit" required>
                            </td>
                            <td>
                                <button class="delete_course_btn" onclick="deleteRow(this)">
                                    <img src="{{url_for('static', filename='Images/delete.png')}}" alt="plus" class="plus">
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td><select id="${tableId}m4" name="module" onchange="setCredit(this.id)">
                                <option value="-1">Select Module</option>
                                        {% for module in modules %}
                                        <option value="{{ module[0] }}">{{ module[1] }}</option>
                                        {% endfor %}
                                    </select></td>
                            <td>
                                <span class="selected-course">Grade</span>
                                <select id="${tableId}g4" name="grade">
                                    {% for grade in grades %}
                                    <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="text" id="${tableId}c4" name="credit" placeholder="Credit" required>
                            </td>
                            <td>
                                <button class="delete_course_btn" onclick="deleteRow(this)">
                                    <img src="{{url_for('static', filename='Images/delete.png')}}" alt="plus" class="plus">
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td><select id="${tableId}m5" name="module" onchange="setCredit(this.id)">
                                <option value="-1">Select Module</option>
                                        {% for module in modules %}
                                        <option value="{{ module[0] }}">{{ module[1] }}</option>
                                        {% endfor %}
                                    </select></td>
                            <td>
                                <span class="selected-course">Grade</span>
                                <select id="${tableId}g5" name="grade">
                                    {% for grade in grades %}
                                    <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                <input type="text" id="${tableId}c5" name="credit" placeholder="Credit" required>
                            </td>
                            <td>
                                <button class="delete_course_btn" onclick="deleteRow(this)">
                                    <img src="{{url_for('static', filename='Images/delete.png')}}" alt="plus" class="plus">
                                </button>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
                <div class="add_course">
                    <button class="add_course_btn" onclick="addRow('${tableId}')">  
                        <img src="{{url_for('static', filename='Images/add_icon.png')}}" alt="plus" class="plus">
                        Add Course
                    </button>
                    </div>
                <div class="sem_cal">
                    <button id="btnCal${tableId}" class="sem_cal_btn" onclick="semesterGpa(this.id,event)">
                        Semester GPA <span id="${tableId}sem_gpa" class="sem_gpa">0.0</span>
                    </button>
                </div>
            </div>
        </div>
        `;

        // Append the new semester div to the grid container
        gridContainer.appendChild(newSemesterDiv);
    }
//test addrow function
    function addRow(tableId) {
        // Find the table with the specified ID
        var table = document.getElementById(tableId);

        var length = getSemesterLength(tableId);
        if(checkItemAvailability(tableId +"m"+ (length+1))){
            length++;
        }

        // Create a new row
        var newRow = table.querySelector('tbody').insertRow();

        // Add cells to the new row
        for (var i = 0; i < 5; i++) {
            var cell = newRow.insertCell(i);

            if (i === 0) {
                // If it's the first cell (th scope="row"), set the scope and content
                cell.scope = 'row';
                cell.innerHTML = table.querySelectorAll('tbody tr').length;
            } else if (i === 1) {
                // If it's the second cell (Course name), set the content
                var courceCellContent = `<select id="${tableId +"m"+ (length+1)}" name="module" onchange="setCredit(this.id)">
                                            <option value="-1">Select Module</option>
                                            {% for module in modules %}
                                                <option value="{{ module[0] }}">{{ module[1] }}</option>
                                            {% endfor %}
                                         </select>`;
                cell.innerHTML = courceCellContent;
            } else if (i === 2) {
                // If it's the third cell (Grade dropdown), create the dropdown
                var gradeCellContent = `<span class="selected-course">Grade</span>
                                            <select id="${tableId +"g"+ (length+1)}" name="grade">
                                                {% for grade in grades %}
                                                    <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                                {% endfor %}
                                            </select>`;
                cell.innerHTML = gradeCellContent;
            } else if (i === 3) {
                // If it's the fourth cell (Credit input), create the input
                var creditCellContent = `<input type="text" id="${tableId +"c"+ (length+1)}" name="credit" placeholder="Credit" required>`;
                cell.innerHTML = creditCellContent;
            } else if (i === 4) {
                // If it's the fifth cell (Delete button), create the delete button
                var deleteCellContent = `<button class="delete_course_btn" onclick="deleteRow(this)">
                                            <img src="{{url_for('static', filename='Images/delete.png')}}" alt="plus" class="plus">
                                        </button>`;
                cell.innerHTML = deleteCellContent;
            }
        }
    }
    function addRow1() {
        // Find the tbody element in your table
        var tbody = document.querySelector('table tbody');

        var length = getSemesterLength("table1");
        if(checkItemAvailability("table1m"+(length+1))){
            length++;
        }

        // Create a new row
        var newRow = tbody.insertRow();

        // Add cells to the new row
        for (var i = 0; i < 5; i++) {
            var cell = newRow.insertCell(i);

            if (i === 0) {
                // If it's the first cell (th scope="row"), set the scope and content
                cell.scope = 'row';
                cell.innerHTML = tbody.rows.length;
            } else if (i === 1) {
                // If it's the second cell (Course name), set the content
                var courceCellContent = `<select id="table1m${(length+1)}" name="module" onchange="setCredit(this.id)">
                                            <option value="-1">Select Module</option>
                                            {% for module in modules %}
                                                <option value="{{ module[0] }}">{{ module[1] }}</option>
                                            {% endfor %}
                                         </select>`;
                cell.innerHTML = courceCellContent ;
                
            } else if (i === 2) {
                // If it's the third cell (Grade dropdown), create the dropdown
                var gradeCellContent = `<span class="selected-course">Grade</span>
                                            <select id="table1g${(length+1)}" name="grade">
                                                {% for grade in grades %}
                                                    <option value="{{ grade[0] }}">{{ grade[1] }}</option>
                                                {% endfor %}
                                            </select>`;
                cell.innerHTML = gradeCellContent;
            } else if (i === 3) {
                // If it's the fourth cell (Credit input), create the input
                var creditCellContent = `<input type="text" id="table1c${(length+1)}" name="credit" placeholder="Credit" required>`;
                cell.innerHTML = creditCellContent;
            } else if (i === 4) {
                // If it's the fifth cell (Delete button), create the delete button
                var deleteCellContent = `<button class="delete_course_btn" onclick="deleteRow(this)">
                                            <img src="{{url_for('static', filename='Images/delete.png')}}" alt="plus" class="plus">
                                        </button>`;
                cell.innerHTML = deleteCellContent;
            }
        }
    }


    function deleteRow(button) {
        // Find the row containing the clicked button
        var row = button.closest('tr');

        // Remove the row from the table
        row.remove();
    }

</script>

</body>
</html>